/*html {
  height: 100%;
}

body {
  height: 100vh;
}*/

.container-fluid { 
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	position: relative;
	height: 100vh;
	background: url('assets/speedbkg.jpg') no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.freeCharge {
	color: red;
}

.about {
	font-family: "Arial", cursive;
	font-size-adjust: 1.5;
	font-size: 110%;
	color: white;
	width: 50%;
	display: inline-block;
	position: relative;
	top: 35vh;
}

#mainframe {
	text-align: center;
}

#layer {
	background-color: rgba(64, 64, 64, 0.7);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#contenttest {
	color: white;
}

#headmsg {
	font-family: "Arial", cursive;
	font-size-adjust: 1.5;
	font-size: 150%;
	color: white;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 1px 2px orange;
	position: relative;
	top: 30vh;
}

.info {
	width: 100%;
	position: relative;
	top: 55vh;
	display: flex;
	justify-content: center;
}

.btn-info {
	text-decoration-style: bold;
	background-color: orange;
	border-color: orange;
	object-position: center bottom;
}

.btn-info:hover {
	background-color: #cc6600;
}